{% extends "portal/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <br><br><br>

    <div class="container text-center" style="height: 800px">
        <h3 class="font-weight-bolder text-primary">Welcome To Fine-Leap Systems Anonymous Survey</h3>

        {% if surveys %}

            {% for survey in surveys %}
                <h5><a href="{{ survey.get_absolute_url }}"><button class="btn blue-gradient text-white font-weight-bold">{{ survey.name }}</button></a></h5>
            {% endfor %}
        {% else %}
            <h4>No Active Surveys</h4>
        {% endif %}

    </div>

{% endblock %}